.home {
    background-color: gray;
    height: 100%;
    width: 100%;
}

.home-container, .home-wrapper {
    max-width: 100%;
}

.home img {
    max-width: 600px;
    max-height: auto;
    padding: 1rem;
}

.home h1 {
    padding: 2rem;
}