.home {
    background-color: gray;
    height: 100%;
    width: 100%;
}

.home-container, .home-wrapper {
    max-width: 90%;
}

.home picture {
    width:fit-content;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
    padding: 1rem;
}