.banner {
    position: relative;
    padding: 40px 24px;
    margin: 1rem;
  }

.banner picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }

.banner img {
    position: relative;
    width:auto;
}

  @media (width >= 900px) {
    .banner {
      padding: 40px 32px;
    }
  }
